
<div>
    <h1>同步/非同步呼叫API</h1>
    <div>
        <button type="button" onclick="CallApi();">Call API</button>
        <button type="button" onclick="CallAsyncApi();">Call Async API</button>
        <button type="button" onclick="FunClick();">Click</button>
    </div>
</div>

@section scripts
{
    <script>
        // 呼叫API
        $.ajax({
            url: "/api/Values?value=123&value2=456",
            type: 'post',
            success: function (res) {
                console.log(res);
            },
            error: function (xhr, status, errorThrown) {
                console.log(xhr, status, errorThrown);
            },
        });

        /**同步呼叫API */
        function CallApi() {
            $.ajax({
                async: false,
                url: "/api/values",
                type: 'get',
                success: function (res) {
                    console.log(res);
                },
                error: function (xhr, status, errorThrown) {
                    console.log(xhr, status, errorThrown);
                },
            });
        }

        /**非同步呼叫API */
        function CallAsyncApi() {
            $.ajax({
                url: "/api/LogTablesAsyncApi/3",
                type: 'get',
                success: function (res) {
                    console.log(res);
                },
                error: function (xhr, status, errorThrown) {
                    console.log(xhr, status, errorThrown);
                },
            });
        }

        function FunClick() {
            alert("click");
        }
    </script>
}

